@import 'colors';

.catalog {
    max-width: 1920px;
    padding: 20px 210px;

    @media (max-width:1366px) {
        padding: 0px 117px;
    }

    @media (max-width:1024px) {
        padding: 0px 60px;
    }

    @media (max-width:768px) {
        padding: 0px 30px;
    }

    &__btn {
        background-color: $white;
        display: flex;
        padding: 10px 22px;
        gap: 10px;
        flex: 0 0 auto;
        align-items: center;
        border-radius: 4px;
        transition: background-color .3s, border-color .3s;
        border: 1px solid $lightgray;
        font-size: 16px;
        box-shadow: 0 2px 2px 2px $lightgray;

        &[data-action="removefilter"] {
            &:hover {
                background-color: $lightgray;
                border-color: $gray;
            }
        }
    }

    &__title {
        margin-bottom: 40px;
        font-size: 50px;
    }
    &__count{
        &:not(:empty){
            padding: 0px 5px;
        }
        background-color: $green;
        border-radius: 5px;
        color: white;
    }
    &__selected-filters {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }

    &__filter-wrapper {
        display: none;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__regions {
        padding-left: 0px;
        align-items: center;
        min-height: 42px;
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: fit-content;
        flex-direction: row-reverse;
    }

    .select {
        &__btn {
            padding: 10px;
        }
    }
    .pagination{
        grid-column-start: 2;
    }
    &__wrapper {
    display: flex;
    flex-direction: column;
    }

    &__item-wrapper {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        gap: 20px;
        row-gap: 40px;

        .item {
            width: 230px;
        }
    }

    .filter {
        position: fixed !important;
        height: 100vh!important;
        &__main-body{
            padding: 0 40px;
            max-height: calc(100vh - 100px);
            overflow: scroll;
        }
        &__btns{
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    .moved-menu-opener {
        display: flex;
    }
    
    .moved-menu__header {
        display: flex;
    }
    
    @media (min-width:1365px) {
        .filter{
            height: fit-content!important;
        }
        &__regions {
            padding-left: 250px;
            flex-wrap: wrap;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 220px 1fr;
            gap: 30px;
        }
        .moved-menu-opener {
            display: none;
        }

        .moved-menu__header {
            display: none;
        }
        &__filter-wrapper{
            display: flex;
        }
        .filter {
            top: -87px;
            position: relative !important;
            &__main-body{
                max-height:none;
                padding: 0;
            }
            &__btns{
                flex-direction: column;
            }
        }
    }
    @media (max-width:768px) {
        &__regions{
            justify-content: center;
        }
        &__title{
            text-align: center;
        }
        &__item-wrapper{
            justify-content: center;
        }
    }
}