$orange:#f63;
$orangeopacity:rgba(255, 102, 51, 0.192);
$white:#fff;
$lightgray:#F1F3F4;
$gray:#A5A5A5;
$green:#85ba40;
$greenopacity:#85ba4031;
$black:black;
$graytext:#666A7B;
$blackshadow:rgba($black,0.15);