$orange:#f63;
$orangeopacity:rgba(255, 102, 51, 0.192);
$white:#fff;
$lightgray:#F1F3F4;
$border:#EAEAEC;
$gray:#A5A5A5;
$green:#85ba40;
$yellow:#FFED48;
$greenopacity:#85ba4031;
$black:black;
$lightblack:#1A1A1A;
$graytext:#666A7B;
$blackshadow:rgba($black,0.15);
$opacityblue:#DEE9F7;
$opacityyellow:#FFF8E7;
$opacityred:#FFDEDE;
$lightengray:#313131;
$rosy:#FCFAF8;