.catalog {
    max-width: 1920px;
    padding: 20px 210px;
}

@media (max-width: 1366px) {
    .catalog {
        padding: 0px 117px;
    }
}

@media (max-width: 1024px) {
    .catalog {
        padding: 0px 60px;
    }
}

@media (max-width: 768px) {
    .catalog {
        padding: 0px 30px;
    }
}

.catalog__btn {
    background-color: #fff;
    display: flex;
    padding: 10px 22px;
    gap: 10px;
    flex: 0 0 auto;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    border: 1px solid #F1F3F4;
    font-size: 16px;
    box-shadow: 0 2px 2px 2px #F1F3F4;
}

.catalog__btn[data-action=removefilter]:hover {
    background-color: #F1F3F4;
    border-color: #A5A5A5;
}

.catalog__title {
    margin-bottom: 40px;
    font-size: 50px;
}

.catalog__count {
    background-color: #85ba40;
    border-radius: 5px;
    color: white;
}

.catalog__count:not(:empty) {
    padding: 0px 5px;
}

.catalog__selected-filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog__selected-filters:not(:empty) {
    margin-bottom: 40px;
}

.catalog__filter-wrapper {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog__regions {
    padding-left: 0px;
    align-items: center;
    min-height: 42px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row-reverse;
}

.catalog .select__btn {
    padding: 10px;
}

.catalog .pagination {
    grid-column-start: 2;
}

.catalog__wrapper {
    display: flex;
    flex-direction: column;
}

.catalog__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
    gap: 20px;
    row-gap: 40px;
}

.catalog__item-wrapper .item {
    width: 230px;
}

.catalog .filter {
    position: fixed !important;
    height: 100vh !important;
}

.catalog .filter__main-body {
    padding: 0 40px;
    max-height: calc(100vh - 100px);
    overflow: scroll;
}

.catalog .filter__btns {
    flex-direction: row;
    justify-content: space-between;
}

.catalog .moved-menu-opener {
    display: flex;
}

.catalog .moved-menu__header {
    display: flex;
}

@media (min-width: 1365px) {
    .catalog .filter {
        height: -moz-fit-content !important;
        height: fit-content !important;
    }

    .catalog__regions {
        padding-left: 250px;
        flex-wrap: wrap;
    }

    .catalog__wrapper {
        display: grid;
        grid-template-columns: 220px 1fr;
        gap: 30px;
    }

    .catalog .moved-menu-opener {
        display: none;
    }

    .catalog .moved-menu__header {
        display: none;
    }

    .catalog__filter-wrapper {
        display: flex;
    }

    .catalog .filter {
        top: -87px;
        position: relative !important;
    }

    .catalog .filter__main-body {
        max-height: none;
        padding: 0;
    }

    .catalog .filter__btns {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .catalog__regions {
        justify-content: center;
    }

    .catalog__title {
        text-align: center;
    }

    .catalog__item-wrapper {
        justify-content: center;
    }
}