/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
  src: url(../fonts/proxima/proximanova_regular.ttf);
  font-weight: 400;
}

@font-face {
    font-family: "Proxima Nova";
  src: url(../fonts/proxima/proximanova_light.otf);
  font-weight: 300;
}

@font-face {
    font-family: "Proxima Nova";
  src: url(../fonts/proxima/proximanova_bold.otf);
  font-weight: bold;
}

@font-face {
    font-family: "Proxima Nova";
  src: url(../fonts/proxima/proximanova_extrabold.otf);
  font-weight: 800;
}

@font-face {
    font-family: "Proxima Nova";
  src: url(../fonts/proxima/proximanova_black.ttf);
  font-weight: 900;
}

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova";
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

body.scrollBlock {
    overflow: hidden;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

li, ul {
    list-style: none;
}

main {
    padding-right: 110px;
}

@media (max-width: 1919px) {
    main {
        padding-right: 80px;
    }
}

@media (max-width: 1365px) {
    main {
        padding-right: 0;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

@media (max-width: 1023px) {
    .hide-text_768 {
        display: none;
    }
}

.main-header {
    position: relative;
    padding: 30px 140px 28px 30px;
    border-bottom: 1px solid #F1F3F4;
}

.main-header__btn {
    color: black;
}

@media (max-width: 1919px) {
    .main-header {
        padding-right: 110px;
    }
}

@media (max-width: 1365px) {
    .main-header {
        padding: 16px 30px;
    }
}

@media (max-width: 767px) {
    .main-header {
        padding: 0px 16px;
    }
}

@media (max-width: 1023px) {
    .main-header__img {
        max-width: 213px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .main-header__img {
        max-width: 190px;
    }
}

.main-header__body {
    display: flex;
    align-items: center;
    -moz-column-gap: 37px;
    column-gap: 37px;
}

@media (max-width: 1919px) {
    .main-header__body {
        -moz-column-gap: 0;
        column-gap: 0;
    }
}

@media (max-width: 1365px) {
    .main-header__body {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@media (max-width: 767px) {
    .main-header__body {
        flex-wrap: nowrap;
    }
}

.main-header__body .main-header__element {
    display: flex;
}

@media (max-width: 1919px) {
    .main-header__body .main-header__element:nth-of-type(1) {
        margin-right: 30px;
    }
}

@media (max-width: 1365px) {
    .main-header__body .main-header__element:nth-of-type(1) {
        order: 1;
    }
}

.main-header__body .main-header__element:nth-of-type(2) {
    margin-right: 80px;
}

@media (max-width: 1919px) {
    .main-header__body .main-header__element:nth-of-type(2) {
        margin-right: 0;
    }
}

@media (max-width: 1365px) {
    .main-header__body .main-header__element:nth-of-type(2) {
        order: 4;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .main-header__body .main-header__element:nth-of-type(2) {
        display: none;
    }
}

.main-header__body .main-header__element:nth-of-type(3) {
    margin-left: auto;
}

@media (max-width: 767px) {
    .main-header__body .main-header__element:nth-of-type(3) {
        display: none;
    }
}

@media (max-width: 1365px) {
    .main-header__body .main-header__element:nth-of-type(3) {
        order: 2;
        margin-left: 0;
    }
}

.main-header__body .main-header__element:nth-of-type(4) {
    display: none;
}

@media (max-width: 1365px) {
    .main-header__body .main-header__element:nth-of-type(4) {
        display: flex;
        order: 3;
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .main-header__body .main-header__element:nth-of-type(4).profile {
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 2px solid #F1F3F4;
    }

    .main-header__body .main-header__element:nth-of-type(4) .main-aside__img {
        width: 35px;
        height: 35px;
    }

    .main-header__body .main-header__element:nth-of-type(4) .notification-count {
        font-size: 12px;
        right: 0px;
    }

    .main-header__body .main-header__element:nth-of-type(4) .profile__list {
        display: none;
    }
}

.main-header__body .main-header__list {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0;
}

@media (max-width: 1365px) {
    .main-header__body .main-header__list {
        width: 100%;
    }
}

.main-header__body .main-header__list .main-header__item {
    position: relative;
}

@media (max-width: 1365px) {
    .main-header__body .main-header__list .main-header__item {
        width: 100%;
    }

    .main-header__body .main-header__list .main-header__item:last-of-type .popup {
        right: 20px;
        left: auto;
    }

    .main-header__body .main-header__list .main-header__item:last-of-type .popup.active {
        left: auto;
        right: 0;
    }

    .main-header__body .main-header__list .main-header__item:last-of-type .popup::before {
        left: auto;
        right: 40px;
    }
}

@media (max-width: 1023px) {
    .main-header__body .main-header__list .main-header__item:nth-of-type(2) {
        display: none;
    }
}

.main-header__body .main-header__list .main-header__item .main-header__btn {
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    gap: 20px;
    border-radius: 85px;
    padding: 15px 30px;
    background-color: #fff;
}

@media (max-width: 1919px) {
    .main-header__body .main-header__list .main-header__item .main-header__btn {
        gap: 10px;
    }
}

@media (max-width: 1365px) {
    .main-header__body .main-header__list .main-header__item .main-header__btn {
        padding: 15px 36px;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1023px) {
    .main-header__body .main-header__list .main-header__item .main-header__btn {
        padding: 15px 34px;
    }
}

.main-header__body .main-header__list .main-header__item .main-header__btn-text {
    white-space: nowrap;
}

.main-header__body .main-header__list .main-header__item .main-header__btn i {
    font-size: 18px;
}

.main-header__body .main-header__list .main-header__item .main-header__btn i.fa-caret-down {
    font-size: 12px;
}

.main-header__body .main-header__list .main-header__item.active {
    margin-right: 10px;
}

.main-header__body .main-header__list .main-header__item.active .main-header__btn {
    color: #fff;
    background: #f63;
}

.main-header__link {
    height: -moz-fit-content;
    height: fit-content;
    display: block;
}

.main-header__img {
    display: block;
}

.search {
    width: 100%;
    color: #A5A5A5;
    max-width: 420px;
    border-radius: 5px;
}

.search * {
    transition: 0.3s;
}

@media (max-width: 1919px) {
    .search {
        width: -moz-fit-content;
        width: fit-content;
    }

    .search.main-header__element .search__input {
        position: absolute;
        top: 130px;
        right: 110px;
    }

    .search.main-header__element.active .search__input {
        width: 320px;
        padding-left: 15px;
    }
}

@media (max-width: 1365px) {
    .search {
        justify-content: flex-end;
        display: flex;
        flex: 1 1 auto;
    }

    .search.main-header__element .search__input {
        position: static;
        top: 130px;
    }

    .search.main-header__element.active .search__input {
        width: 100%;
        padding: 15px 0px 15px 20px;
    }
}

@media (max-width: 1023px) {
    .search {
        width: -moz-fit-content;
        width: fit-content;
    }

    .search.main-header__element .search__input {
        position: absolute;
        top: 160px;
        right: 30px;
    }

    .search.main-header__element.active .search__input {
        width: 320px;
        padding-left: 15px;
    }
}

.search.moved-aside__element {
    justify-content: flex-end;
}

.search__body {
    display: flex;
    width: 100%;
}

@media (max-width: 1919px) {
    .search__body {
        justify-content: flex-end;
    }
}

@media (max-width: 1023px) {
    .search__body {
        width: 50px;
    }
}

.search__input {
    height: 50px;
    width: 100%;
    background-color: #F1F3F4;
    padding: 15px 0px 15px 20px;
}

@media (max-width: 1919px) {
    .search__input {
        width: 0%;
        padding: 0;
    }
}

@media (max-width: 1365px) {
    .search__input {
        width: 100%;
        padding: 15px 0px 15px 20px;
    }
}

@media (max-width: 1023px) {
    .search__input {
        width: 0%;
        padding: 0;
    }
}

.search__btn {
    background-color: #F1F3F4;
    padding: 15px 17px;
}

.search__btn i {
    font-size: 16px;
}

.main-aside {
    position: absolute;
    background-color: #fff;
    height: 100%;
    z-index: 10;
    width: 110px;
    right: 0px;
    top: 0px;
    border-left: 1px solid #F1F3F4;
}

@media (max-width: 1919px) {
    .main-aside {
        width: 80px;
    }
}

@media (max-width: 1365px) {
    .main-aside {
        display: none;
    }
}

.main-aside__head {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 110px;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 0px 15px 5px #F1F3F4;
    height: 110px;
    margin-bottom: 115px;
}

@media (max-width: 1919px) {
    .main-aside__head {
        width: 80px;
    }
}

.main-aside__head i {
    position: absolute;
    right: 10px;
    top: 45%;
    font-size: 12px;
    transition: 0s;
}

@media (max-width: 1919px) {
    .main-aside__head i {
        right: 45%;
        top: 75%;
    }
}

.main-aside__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}

.main-aside__item {
    position: relative;
}

.main-aside__item:last-of-type {
    margin-top: auto;
    margin-bottom: 30px;
}

.main-aside__img {
    height: 50px;
    width: 50px;
    border-radius: 85px;
}

.main-aside__btn_profile {
    height: 100%;
    width: 100%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
}

.main-aside__btn_profile .notification-count {
    display: none;
}

.main-aside__btn_profile:hover {
    background-color: #fff !important;
}

@media (max-width: 767px) {
    .main-aside__btn_profile .notification-count {
        display: block;
    }
}

.main-aside__body {
    z-index: 10;
    position: sticky;
    top: 140px;
    height: calc(100vh - 140px);
}

.main-aside__wrapper {
    height: 100%;
    align-items: center;
    text-align: center;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.main-aside__btn {
    padding: 15px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 85px;
    font-size: 20px;
    background-color: white;
}

.main-aside__btn:hover {
    background: rgba(0, 0, 0, 0.15);
}

@media (max-width: 1365px) {
    .main-aside__btn i {
        position: absolute;
        font-size: 12px;
        right: 0px;
        top: 45%;
    }
}

@media (max-width: 1365px) {
    .main-aside__btn {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.main-aside__btn_top {
    background-color: black;
    color: #fff;
}

.main-aside__btn_top:hover {
    background-color: #f63;
}

.main-aside__btn_top.moved {
    display: none;
    margin-top: 0;
    position: fixed;
    opacity: 0;
    right: -30px;
    bottom: 85px;
}

@media (max-width: 1023px) {
    .main-aside__btn_top.moved {
        display: flex;
    }
}

@media (max-width: 767px) {
    .main-aside__btn_top.moved {
        bottom: 60px;
        height: 40px;
        width: 40px;
    }
}

.main-aside__btn_top.moved.active {
    right: 20px;
    opacity: 1;
}

@media (max-width: 767px) {
    .main-aside__btn_top.moved.active {
        right: 5px;
    }
}

.main-aside__btn_green {
    color: #fff;
    background-color: #85ba40 !important;
}

.main-aside__btn .notification-count:not(:empty) {
    padding: 0 10px;
    border-radius: 33px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -10px;
    background-color: #f63;
    color: #fff;
}

.main-aside__wallet-count {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 33px;
    background-color: #85ba40;
    color: #fff;
}

.profile {
    width: -moz-fit-content;
    width: fit-content;
}

.profile__list {
    display: flex;
}

.profile__item {
    padding-right: 15px;
    border: 1px solid #F1F3F4;
    border-bottom: none;
    border-top: none;
    padding-left: 15px;
}

.profile__item:last-of-type {
    border: none;
}

.profile__item:first-of-type {
    border: none;
}

.profile__btn {
    padding: 15px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 85px;
    font-size: 20px;
    background-color: white;
}

.profile__btn:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.profile__btn .notification-count:not(:empty) {
    padding: 0 10px;
    border-radius: 33px;
    position: absolute;
    z-index: 2;
    top: -5px;
    right: -10px;
    background-color: #f63;
    color: #fff;
}

.moved-aside {
    transition: 0.3s;
    display: none;
    position: fixed;
    padding: 16px 30px;
    z-index: 3;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.15);
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.moved-aside .moved-aside__item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

@media (max-width: 1365px) {
    .moved-aside {
        display: flex;
    }
}

.moved-aside_top {
    top: -90px;
}

.moved-aside_top.active {
    top: 0;
}

@media (max-width: 767px) {
    .moved-aside_top {
        display: none;
    }
}

.moved-aside__btn {
    color: black;
}

.moved-aside-1366 {
    top: -115px;
    display: flex;
    z-index: 3;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    width: 100%;
    padding-right: 140px;
}

.moved-aside-1366 .moved-aside__element {
    height: 110px;
    display: flex;
    align-items: center;
}

.moved-aside-1366 .moved-aside__element:nth-of-type(1) {
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    padding: 30px;
}

.moved-aside-1366 .moved-aside__element:nth-of-type(1) .moved-aside__btn {
    background-color: transparent;
}

.moved-aside-1366 .moved-aside__element .rounded-btn {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}

.moved-aside-1366 .moved-aside__element.search {
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    width: -moz-fit-content;
    width: fit-content;
}

.moved-aside-1366 .moved-aside__element.search .search__input {
    width: 0;
    padding: 0;
}

.moved-aside-1366 .moved-aside__element.search.active {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
}

.moved-aside-1366 .moved-aside__element.search.active .search__input {
    width: 370px;
    padding: 15px 0px 15px 20px;
}

@media (max-width: 1365px) {
    .moved-aside-1366 {
        display: none;
    }
}

.moved-aside_bottom {
    z-index: 2;
    display: none;
    bottom: -90px;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: 0 -2px 10px 5px rgba(0, 0, 0, 0.15);
    padding: 0;
    height: fit-content;
}

@media (max-width: 1023px) {
    .moved-aside_bottom {
        display: flex;
    }
}

@media (max-width: 767px) {
    .moved-aside_bottom .moved-aside__text {
        display: none;
    }

    .moved-aside_bottom .moved-aside__btn {
        border-radius: 88px;
    }
}

.moved-aside_bottom .moved-aside__list {
    width: 100%;
    gap: 0;
    display: flex;
}

@media (max-width: 767px) {
    .moved-aside_bottom .moved-aside__list {
        padding-top: 5px;
        padding-bottom: 5px;
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        gap: 10px;
        margin: 0 auto;
    }
}

.moved-aside_bottom .moved-aside__list .moved-aside__item {
    height: 100%;
    width: 100%;
    border-right: 2px solid #F1F3F4;
    border-top: 2px solid #F1F3F4;
}

.moved-aside_bottom .moved-aside__list .moved-aside__item.btn-hide-767 {
    display: none;
}

@media (max-width: 767px) {
    .moved-aside_bottom .moved-aside__list .moved-aside__item {
        border: none;
        width: -moz-fit-content;
        width: fit-content;
    }

    .moved-aside_bottom .moved-aside__list .moved-aside__item#moved-aside__btn_auction {
        display: none;
    }

    .moved-aside_bottom .moved-aside__list .moved-aside__item.btn-hide-767 {
        display: flex;
    }
}

.moved-aside_bottom .moved-aside__list .moved-aside__item:last-of-type {
    width: -moz-fit-content;
    width: fit-content;
    border-top: none;
}

.moved-aside_bottom .moved-aside__list .moved-aside__item:last-of-type .moved-aside__btn {
    width: -moz-fit-content;
    width: fit-content;
}

@media (max-width: 767px) {
    .moved-aside_bottom .moved-aside__list .moved-aside__item:last-of-type .moved-aside__btn {
        width: 40px;
    }
}

.moved-aside_bottom .moved-aside__list .moved-aside__item .moved-aside__btn {
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    gap: 10px;
    padding: 22.5px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moved-aside_bottom .moved-aside__list .moved-aside__item .moved-aside__btn .moved-aside__text {
    white-space: nowrap;
}

@media (max-width: 767px) {
    .moved-aside_bottom .moved-aside__list .moved-aside__item .moved-aside__btn {
        height: 40px;
        width: 40px;
        padding: 8px 10px;
    }
}

.moved-aside_bottom .moved-aside__list .moved-aside__item .moved-aside__btn.active {
    background-color: #f63;
    color: white;
}

.moved-aside_bottom.active {
    top: auto;
    bottom: 0;
}

.moved-aside__element {
    display: flex;
}

.moved-aside__element:nth-of-type(2) {
    margin-right: 30px;
    margin-left: 10px;
}

.moved-aside__element:nth-of-type(4) {
    margin-left: auto;
}

.moved-aside__list {
    height: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
}

.rounded-btn {
    height: 50px;
    width: 50px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 88px;
}

.rounded-btn_green {
    background-color: #85ba40 !important;
    color: #fff !important;
}

.rounded-btn_green:hover {
    background-color: #f63 !important;
    color: #fff !important;
}

.rounded-btn_gray {
    background-color: #A5A5A5 !important;
    color: black !important;
}

.rounded-btn_black {
    background-color: black !important;
    color: #fff !important;
}

.rounded-btn_black.active {
    background-color: #f63 !important;
    color: #fff !important;
}

.rounded-btn_white {
    background-color: #fff !important;
    color: black;
}

.rounded-btn_white:hover {
    background-color: #f63 !important;
    color: #fff !important;
}

.rounded-btn_white.active {
    background-color: #f63 !important;
    color: #fff !important;
}

.rounded-btn_orange {
    background-color: #f63 !important;
    color: #fff !important;
}

.rounded-btn_orange.active {
    background-color: black !important;
    color: #fff !important;
}

.rounded-btn_small {
    flex: 0 0 auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border: none !important;
    font-size: 14px !important;
    padding: 0 !important;
    width: 26px !important;
    height: 26px !important;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.rounded-btn_small i {
    line-height: initial;
}

.popup {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    max-width: 300px;
    transition: 0.1s ease;
    left: -30px;
    display: none;
}

.popup_top {
    top: 110px;
}

.popup_top_85 {
    top: 85px;
}

@media (max-width: 1365px) {
    .popup_top {
        top: 75px;
    }
}

.popup_top::before {
    -webkit-clip-path: polygon(50% 0%, 0 53%, 100% 53%);
    clip-path: polygon(50% 0%, 0 53%, 100% 53%);
    content: "";
    z-index: 0;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    top: -8px;
    left: 30px;
}

.popup_top.active {
    left: -20px;
}

.popup_left {
    top: calc(-50% - 10px);
    right: 80px;
    padding: 5px;
    left: auto;
}

.popup_left .popup__link {
    padding: 10px;
}

@media (max-width: 1919px) {
    .popup_left {
        right: 65px;
    }
}

.popup_left::before {
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.15);
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    content: "";
    z-index: 0;
    position: absolute;
    height: 15px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    top: calc(50% - 8px);
    right: -10px;
}

.popup_left.active {
    top: calc(-50% + 1px);
}

.popup__item {
    transition: 0.3s;
    display: flex;
    font-size: 16px;
    gap: 20px;
    align-items: center;
    border-bottom: 2px solid #F1F3F4;
}

.popup__item:last-of-type {
    border: none;
}

.popup__item:hover {
    background-color: #F1F3F4;
}

.popup__item:hover .subpop {
    display: flex;
}

.popup__link {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: 16px;
    gap: 20px;
    color: black;
}

.popup__link:hover {
    color: #f63;
}

.popup__text {
    white-space: nowrap;
}

.popup__title {
    font-size: 14px;
    background-color: #F1F3F4;
    color: #666A7B;
    font-weight: 400;
    width: 100%;
    padding: 10px 30px;
}

.popup__wrapper {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: 16px;
    gap: 20px;
    color: black;
}

.popup__wrapper:hover {
    color: #f63;
}

.subpop {
    border-left: 2px solid #F1F3F4;
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    top: 0;
    position: absolute;
    right: -300px;
    max-width: 330px;
    height: 100%;
    padding: 36px;
}

.subpop__title {
    font-size: 22px;
    font-weight: bold;
}

.subpop__link {
    text-decoration-line: underline;
    color: #f63;
}

.subpop__head {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.subpop__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 60px;
    column-gap: 60px;
    row-gap: 20px;
}

.subpop__list .subpop__link {
    color: black;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s;
}

.subpop__list .subpop__link:hover {
    color: #f63;
    text-decoration: underline;
}

.moved-menu {
    z-index: 10;
    background-color: #fff;
    position: fixed;
    transition: 0.3s;
    top: 105vh;
    max-width: 760px;
    height: 100vh;
    box-shadow: -15px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

.moved-menu[data-type-menu=search] {
    padding: 30px;
    transition: 0.3s;
    bottom: 0;
    z-index: 3;
    height: -moz-fit-content;
    height: fit-content;
}

.moved-menu[data-type-menu=search] .moved-menu__btn {
    width: 100%;
    padding: 10px;
    background-color: #F1F3F4;
    color: #A5A5A5;
    border-bottom: none;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.moved-menu[data-type-menu=search] .moved-menu__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.moved-menu[data-type-menu=search] .moved-menu__input {
    padding: 10px;
    background-color: #F1F3F4;
    color: black;
}

.moved-menu[data-type-menu=search].active {
    box-shadow: 0 -15px 10px 5px rgba(0, 0, 0, 0.15);
    top: calc(100% - 196px);
}

.moved-menu[data-type-menu=profile] {
    top: 0;
    right: -750px;
    box-shadow: -5px 0 15px 5px rgba(0, 0, 0, 0.15);
    width: 500px;
}

.moved-menu[data-type-menu=profile] .moved-menu__header {
    padding-top: 26px;
    padding-bottom: 26px;
}

.moved-menu[data-type-menu=profile].active {
    right: 110px;
}

@media (max-width: 1919px) {
    .moved-menu[data-type-menu=profile].active {
        right: 80px;
    }
}

@media (max-width: 1365px) {
    .moved-menu[data-type-menu=profile].active {
        right: 0;
        width: 100%;
    }
}

.moved-menu_left {
    right: 110px;
}

@media (max-width: 1919px) {
    .moved-menu_left {
        right: 80px;
    }
}

@media (max-width: 1023px) {
    .moved-menu {
        top: 100vh;
    }
}

@media (max-width: 767px) {
    .moved-menu {
        z-index: 1;
    }
}

@media (max-width: 1365px) {
    .moved-menu {
        right: 0;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
    }
}

.moved-menu.active {
    top: 0;
}

.moved-menu__body {
    max-height: calc(100vh - 175px);
    overflow-y: scroll;
}

.moved-menu__body::-webkit-scrollbar, .moved-menu__body ::-webkit-scrollbar {
    width: 6px !important;
}

.moved-menu__body::-webkit-scrollbar-thumb, .moved-menu__body ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    width: 6px !important;
    background-color: #85ba40;
}

.moved-menu__body::-webkit-scrollbar-track, .moved-menu__body ::-webkit-scrollbar-track {
    border-radius: 6px;
    width: 6px !important;
    background-color: #F1F3F4;
}

.moved-menu__body[data-body-type=empty] {
    height: 100%;
    padding: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    overflow-y: scroll;
}

.moved-menu__body .moved-menu__btn, .moved-menu__body .moved-menu__link {
    width: 100%;
    font-size: 18px;
    background-color: #fff;
    color: black;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    padding-left: 30px;
    padding-right: 10px;
    transition: 0.3s;
}

.moved-menu__body .moved-menu__btn:hover .moved-menu__text, .moved-menu__body .moved-menu__btn:hover .moved-menu__icon, .moved-menu__body .moved-menu__link:hover .moved-menu__text, .moved-menu__body .moved-menu__link:hover .moved-menu__icon {
    color: #f63;
}

.moved-menu__element {
    display: flex;
    gap: 15px;
    align-items: center;
}

.moved-menu__btn {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    height: 40px;
    width: 40px;
}

.moved-menu__btn_rectangle {
    gap: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    display: flex;
    padding: 10px 36px !important;
    background-color: #F1F3F4 !important;
    color: black !important;
    transition: 0.3s;
}

.moved-menu__btn_rectangle:hover {
    background-color: #f63 !important;
    color: #fff !important;
}

.moved-menu__header {
    padding: 30px;
    align-items: center;
    display: flex;
    line-height: 1.2rem;
    gap: 20px;
    justify-content: space-between;
}

.moved-menu__hgroup {
    max-width: 750px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.moved-menu__item {
    transition: 0.3s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
}

.moved-menu__item_title {
    background: #F1F3F4;
    color: #A5A5A5;
    padding: 10px 15px 10px 30px;
}

.moved-menu__item:last-of-type {
    border: none;
}

.moved-menu__text::first-letter {
    text-transform: uppercase;
}

.moved-menu__title {
    font-size: 25px;
}

.moved-menu__text {
    margin-left: 8px;
    margin-right: auto;
    transition: 0.3s;
}

.moved-menu__icon {
    transition: 0.3s;
    font-size: 20px;
}

.moved-menu__count_green {
    background-color: #85ba40 !important;
    color: #fff;
}

.moved-menu__count_orange {
    background-color: #f63 !important;
    color: #fff;
}

.moved-menu__count:not(:empty) {
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 33px;
    background-color: #F1F3F4;
}

.submenu {
    transition: 0.3s;
    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    background-color: #fff;
}

.submenu.active {
    top: 0%;
}

.submenu__btn {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
}

.submenu__header {
    padding: 30px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.submenu .submenu__body {
    max-height: calc(100vh - 175px);
    overflow-y: scroll;
}

.submenu .submenu__body ::-webkit-scrollbar {
    width: 6px;
}

.submenu .submenu__body ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #85ba40;
}

.submenu .submenu__body ::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #F1F3F4;
}

.submenu__link {
    display: block;
    padding: 0px 15px 20px 30px;
    width: 100%;
    color: black;
}

@media (pointer: fine) {
    .submenu__link:hover {
        color: #f63;
    }
}

.user {
    display: flex;
    font-size: 16px;
    flex-direction: column;
}

.user__name {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.user__mail, .user__subs {
    font-size: 14px;
    color: #A5A5A5;
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating {
    font-size: 12px;
    align-items: center;
    display: flex;
    gap: 5px;
}

.rating__stars {
    display: flex;
    gap: 2px;
}

.notification {
    transition: none;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}

.notification[data-type-notification=danger] {
    background-color: rgba(255, 102, 51, 0.192);
    color: #f63;
}

.notification[data-type-notification=success] {
    background-color: rgba(133, 186, 64, 0.1921568627);
    color: black;
}

.notification__text {
    font-weight: bold;
    margin-right: auto;
}

.green-text {
    color: #85ba40;
}

.main-footer {
    margin-top: auto;
    background-color: #1A1A1A;
}

.main-footer__body {
    padding: 50px 150px 50px 155px;
}

@media (max-width: 1919px) {
    .main-footer__body {
        padding-left: 87px;
    }
}

@media (max-width: 1365px) {
    .main-footer__body {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 136px;
    }

    .main-footer__body .hide_btn-1366 {
        display: none;
    }
}

@media (max-width: 1023px) {
    .main-footer__body {
        padding: 50px 59px;
    }
}

@media (max-width: 767px) {
    .main-footer__body {
        align-items: center;
        padding: 40px 30px;
    }
}

.main-footer__stats {
    margin-right: auto;
}

@media (max-width: 1365px) {
    .main-footer__stats {
        margin-right: 0;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
}

.main-footer__stats:first-of-type {
    display: none;
}

@media (max-width: 767px) {
    .main-footer__stats:first-of-type {
        display: flex;
        justify-content: center;
    }
}

.main-footer__stats:last-of-type {
    display: flex;
}

@media (max-width: 767px) {
    .main-footer__stats:last-of-type {
        display: none;
    }
}

@media (max-width: 767px) {
    .main-footer__stats .stats__number-wrapper {
        font-size: 35px;
    }
}

@media (max-width: 420px) {
    .main-footer__stats .stats__number-wrapper {
        font-size: 30px;
        gap: 10px;
    }
}

.main-footer__title {
    font-size: 56px;
    color: #fff;
    line-height: 60px;
}

@media (max-width: 767px) {
    .main-footer__title {
        line-height: initial;
        font-size: 45px;
    }
}

@media (max-width: 420px) {
    .main-footer__title {
        line-height: initial;
        font-size: 30px;
    }
}

.main-footer__block {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #313131;
    padding: 40px 0;
}

.main-footer__block:first-of-type {
    padding-top: 0;
    gap: 40px;
}

.main-footer__block:first-of-type .main-footer__element {
    display: flex;
}

.main-footer__block:first-of-type .main-footer__element:first-of-type {
    display: none;
    gap: 40px;
}

@media (max-width: 1365px) {
    .main-footer__block:first-of-type .main-footer__element:first-of-type {
        display: flex;
        flex-direction: column;
        max-width: 356px;
    }
}

@media (max-width: 767px) {
    .main-footer__block:first-of-type .main-footer__element:first-of-type {
        gap: 20px;
    }

    .main-footer__block:first-of-type .main-footer__element:first-of-type .social-links {
        justify-content: center;
    }

    .main-footer__block:first-of-type .main-footer__element:first-of-type .stats__element:first-of-type .stats__text:first-of-type {
        display: none;
    }
}

.main-footer__block:first-of-type .main-footer__element:last-of-type {
    display: flex;
}

.main-footer__block:first-of-type .main-footer__element:last-of-type .stats__text:first-of-type {
    display: flex;
}

@media (max-width: 1365px) {
    .main-footer__block:first-of-type .main-footer__element:last-of-type {
        width: -moz-fit-content;
        width: fit-content;
        flex-direction: column;
    }

    .main-footer__block:first-of-type .main-footer__element:last-of-type .stats {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .main-footer__block:first-of-type .main-footer__element:last-of-type {
        display: none;
    }
}

@media (max-width: 1365px) {
    .main-footer__block:first-of-type {
        padding-bottom: 0;
        border-bottom: none;
        padding-top: 40px;
    }
}

@media (max-width: 767px) {
    .main-footer__block:first-of-type {
        padding-top: 0;
        flex-direction: column;
        text-align: center;
    }
}

.main-footer__block:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

@media (max-width: 1365px) {
    .main-footer__block:last-of-type {
        padding-bottom: 40px;
        border-bottom: 1px solid #313131;
    }
}

@media (max-width: 767px) {
    .main-footer__block:last-of-type {
        display: none;
    }
}

.main-footer__block:last-of-type .main-footer__element:nth-of-type(1) {
    max-width: 356px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 1365px) {
    .main-footer__block:last-of-type .main-footer__element:nth-of-type(1) {
        display: none;
    }
}

.main-footer__block:last-of-type .main-footer__element:nth-of-type(2) {
    display: flex;
    gap: 87px;
}

@media (max-width: 1919px) {
    .main-footer__block:last-of-type .main-footer__element:nth-of-type(2) {
        gap: 40px;
    }
}

.main-footer__block .stats__element .stats__number-wrapper {
    position: relative;
    padding-left: 20px;
}

@media (max-width: 1365px) {
    .main-footer__block .stats__element .stats__number-wrapper {
        padding-left: 0;
        padding-top: 20px;
    }
}

@media (max-width: 767px) {
    .main-footer__block .stats__element .stats__number-wrapper {
        padding-top: 0;
        padding-bottom: 20px;
    }
}

.main-footer__block .stats__element .stats__number-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 4px;
    left: 0;
    width: 3px;
    height: 100%;
}

@media (max-width: 1365px) {
    .main-footer__block .stats__element .stats__number-wrapper::before {
        height: 3px;
        width: 100%;
    }
}

@media (max-width: 1365px) {
    .main-footer__block .stats__element .stats__number-wrapper::before {
        bottom: 0;
        top: auto;
    }
}

.main-footer__block .stats__element:nth-of-type(1) .stats__number-wrapper::before {
    background-color: #f63;
}

.main-footer__block .stats__element:nth-of-type(2) .stats__number-wrapper::before {
    background-color: #85ba40;
}

.main-footer__block .copyright {
    color: #F1F3F4;
}

.main-footer__block .copyright__link {
    color: #fff;
    text-decoration: underline;
}

.main-footer__element {
    height: 100%;
    width: 100%;
}

.main-footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-footer__link {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    color: #A5A5A5;
}

.main-footer__link:hover {
    text-decoration: underline;
}

.main-footer__link_section {
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.main-footer__img {
    display: inline-block;
    height: 49px;
    width: 49px;
    margin-right: 20px;
}

.main-footer__text {
    display: none;
    align-items: center;
    gap: 20px;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 767px) {
    .main-footer__text {
        display: flex;
    }
}

.button {
    padding: 10px 60px;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    gap: 20px;
    border-radius: 33px;
}

.button_green {
    background-color: #85ba40 !important;
    color: #fff !important;
}

.button_green:hover {
    background-color: #f63 !important;
    color: #fff !important;
}

.button_gray {
    background-color: #A5A5A5 !important;
    color: black !important;
}

.button_black {
    background-color: black !important;
    color: #fff !important;
}

.button_black.active {
    background-color: #f63 !important;
    color: #fff !important;
}

.button_white {
    background-color: #fff !important;
    color: black;
}

.button_white:hover {
    background-color: #f63 !important;
    color: #fff !important;
}

.button_white.active {
    background-color: #f63 !important;
    color: #fff !important;
}

.button_orange {
    background-color: #f63 !important;
    color: #fff !important;
}

.button_orange:hover {
    background-color: #fff !important;
    color: black !important;
}

.stats {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 20px;
}

.stats__element {
    gap: 20px;
    display: flex;
}

@media (max-width: 1365px) {
    .stats__element {
        display: flex;
        flex-direction: column;
    }
}

.stats__link {
    transition: 0.1s;
    color: #fff;
    text-decoration: underline;
}

.stats__link:hover {
    color: #85ba40;
}

.stats__number-wrapper {
    font-size: 49px;
    line-height: 49px;
    display: flex;
    gap: 20px;
}

@media (max-width: 1919px) {
    .stats__number-wrapper {
        font-size: 46px;
    }
}

.stats__text {
    flex: 0 0 auto;
}

@media (max-width: 1365px) {
    .stats {
        align-items: flex-start;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-links {
    display: flex;
    gap: 22.23px;
}

.social-links__item {
    justify-content: center;
    width: 35.57px;
    height: 35.57px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.social-links__item_red {
    background-color: #FFDEDE;
}

.social-links__item_blue {
    background-color: #DEE9F7;
}

.social-links__item_yellow {
    background-color: #FFF8E7;
}